[% INCLUDE header.html %]
[% IF opdefs %]
  <h1>[% ship.name | html_entity %]</h1>

  [% IF user.type == "admin" || user.type == "member" %]
  <form id="shiptask" method="POST">
  <div class="form_row">
      <label class="formstyle" for="task">Task:</label>
      <select name="task" class="formstyle">
      <option></option>
      [% FOREACH task IN tasks %]
      <option value=[% task.id %]
          [% IF task.id == ship.tasks_id %]
              selected
          [% END %]
      >[% task.name | html_entity %]</option>
      [% END %]
      </select>
      <label class="formstyle" for="Brief priority">Brief priority:</label>
      <input type="text" name="priority" class="formstyle" style="width:50px" value="[% ship.priority %]">
      <label class="formstyle" for="Programme">Programme:</label>
      <input type="text" name="programme" class="formstyle" style="width:300px" value="[% ship.programme | html_entity %]">
      <input class="submit" type="submit" value="Update" name="shipupdate">
  </div>
  </form>
  [% END %]
  
  [% IF all %]
  <p>Showing all OPDEFs. (<a href="?all=0">Show only extant and recently rectified
  OPDEFs</a>.)</p>
  [% ELSE %]
  <p>Showing only extant and recently rectified OPDEFs. (<a href="?all=1">Show
  all OPDEFs</a>.)</p>
  [% END %]
  <table>
  [% FOREACH opdef IN opdefs %]
    [% IF opdef.type != prevtype %]
      <tr><td colspan="4"><h2 class="row">[% opdef.type %]</h2></td></tr>
    [% END %]
    <tr>
    <td class="opdeflist nowrap"><a href='/opdef/[% opdef.id %]'>[% opdef.type %] [% opdef.number_serial %]-[% opdef.number_year %]</a></td>
    <td class="opdeflist nowrap">[% opdef.category.name %]</td>
    <td class="opdeflist">[% opdef.line5 | html_entity %] ([% opdef.parent_equip | html_entity %])</td>
    </tr>
    [% prevtype = opdef.type %]
  [% END %]
  </table>
[% ELSE %]
  [% FOREACH ship IN ships %]
  <a href="/ships/[% ship.id %]">[% ship.name | html_entity %]</a><br />
  [% END %]
[% END %]

[% INCLUDE footer.html %]
