[% INCLUDE header.html %]

<h1>Unparsed Signals</h1>

<div class="content_wrapper">


        [% IF error AND !view %]
            <div class="error">
                [% error %]
            </div>
        [% END %]

    <div class="leftcol">
        [% IF signals.size %]
            <table>
            [% FOREACH signal IN signals %]
                <tr>
                <td><a href='[% signal.id %]'>Signal ID [% signal.id %]</a></td>
                </tr>
            [% END %]
            <tr>
            <td><a href='new'>Create new</a></td>
            </tr>
            </table>
        [% ELSE %]
            No unparsed signals
            <a href='new'>Create new</a>
        [% END %]
    </div>

    [% IF view.size %]
    <div class="rightcol">
        [% IF error %]
            <div class="error">
                [% error %]
            </div>
        [% END %]
        <form method="post">
        <div class="floatleft">
        <div class="form_row">
            <textarea class="formstyle" cols="72" rows="35" name="signal">[% view.content | html_entity %]</textarea>
        </div>
        <div class="form_row">
            <input class='submit' type='submit' value='Retry Parse' name='retry'>
            <input class='submit' type='submit' value='Delete' name='delete'>
        </div>
            </div>
            <div>
                <span class="parsenote"><h4>Minimum OPDEF format</h4>
                <pre>
131428Z AUG 13
FM HMS SHIP
OPDEF/ME 10-13 [SITREP 2]
AMPN/1. C2
2.
3.
4.
5.
[6.]
[7.]
RMKS
                </pre>
                </span>
        </div>
        <input type="hidden" name="id" value="[% view.id %]">
        </form>
    </div>
    [% END %]
</div>

[% INCLUDE footer.html %]
